---
import { getCollection, Content } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection("devlog");
  return entries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
---

<main class="devlog-post">
  <h1>{entry.data.title}</h1>
  <p><small>{entry.data.date}</small></p>

  <Content content={entry.body} />
</main>
