---
import Container from "/src/components/Container.astro";
---

<main class="content">
  <Container variant="static">
    <h1>theres nothing here either :^</h1>
    <section class="card">
      <div class="wip-wrapper">
        <img src="wip.gif" class="wip-gif" />
      </div>
    </section>
  </Container>
</main>

<style>
  main.content {
    flex: 1;
    margin-left: 260px;
    padding: 2rem;
    background: none;
    color: var(--text-dark);
    position: relative;
    z-index: 1;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--color-1);
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: var(--color-2);
  }

  .card {
    margin-top: 1.5rem;
    padding: 1.25rem;
    border-radius: 1rem;
    background: var(--color-6);
    border: 2px solid var(--color-5);
    text-align: center;
  }

  .wip-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .wip-gif {
    max-width: 400px;
    height: auto;
  }
</style>
