---
import "../styles/global.css";
import BackgroundGrid from '../components/BackgroundGrid.astro';
import Sidebar from '../components/Sidebar.astro';
import ContentSwitcher from '../components/ContentSwitcher.astro';
import DarkModeToggle from '../components/DarkModeToggle.astro';
---

<div id="page-wrapper">
  <BackgroundGrid />
  <Sidebar />
  <DarkModeToggle />
  <main id="main-content" class="content">
    <ContentSwitcher client:load />
  </main>
</div>
